spring:
  application:
    name: ecommerce-admin
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: ${URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect